* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 800px;
  margin: 100px auto;
}

.container > div {
  margin-bottom: 20px;
}

.content {
  margin: 20px;
  max-width: 800px;
}

span {
  display: inline-block;
  vertical-align: middle;
  padding: 15px;
  font-size: 16px;
  background-color: #ddd;
  cursor: pointer;
  color: #777;
  transition: all 0.4s ease-in-out;
  margin-bottom: 10px;
  margin-right: 10px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.grow:hover {
  transform: scale(1.2);
}

.shrink:hover {
  transform: scale(0.8);
}

.pulse:hover {
  animation: pulse 1s linear infinite;
}

@keyframes pulse {
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
}

.pulse-grow:hover {
  animation: pulse-grow 0.6s linear infinite;
}

@keyframes pulse-grow {
  70% {
    transform: scale(1.1);
  }
}

.pulse-shrink:hover {
  animation: pulse-shrink 0.6s linear infinite;
}

@keyframes pulse-shrink {
  70% {
    transform: scale(0.9);
  }
}

.push:hover {
  animation: push 0.4s linear;
}

@keyframes push {
  50% {
    transform: scale(0.8);
  }
}

.pop:hover {
  animation: pop 0.4s linear;
}

@keyframes pop {
  50% {
    transform: scale(1.2);
  }
}

.bounce-in:hover {
  animation: bounceIn 1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes bounceIn {
  35% {
    transform: scale(1.1);
  }
  65% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.bounce-out:hover {
  animation: bounceOut 1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes bounceOut {
  35% {
    transform: scale(0.9);
  }
  65% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

.rotate:hover {
  transform: rotate(8deg);
}

.grow-rotate:hover {
  transform: scale(1.2) rotate(8deg);
}

.float:hover {
  transform: translateY(-18px);
}

.sink:hover {
  transform: translateY(18px);
}

.bob:hover {
  animation: bob 1.5s ease-in-out infinite alternate;
  animation-fill-mode: forwards;
}

@keyframes bob {
  25% {
    transform: translateY(-8px);
  }
  50% {
    transform: translateY(-4px);
  }
  75% {
    transform: translateY(-8px);
  }
}

.hang:hover {
  animation: hang 1.5s ease-in-out infinite alternate;
  animation-fill-mode: forwards;
}

@keyframes hang {
  25% {
    transform: translateY(8px);
  }
  50% {
    transform: translateY(4px);
  }
  75% {
    transform: translateY(8px);
  }
}

.skew:hover {
  transform: skew(-18deg);
}

.skew-forward:hover {
  transform: skew(-18deg);
}

.skew-backward:hover {
  transform: skew(18deg);
}

.wobble-horizontal:hover {
  animation: wobbleHorizontal 1s ease-in-out;
}

@keyframes wobbleHorizontal {
  20% {
    transform: translateX(8px);
  }
  35% {
    transform: translateX(-8px);
  }
  50% {
    transform: translateX(3px);
  }
  65% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}

.wobble-vertical:hover {
  animation: wobbleVertical 1s ease-in-out;
}

@keyframes wobbleVertical {
  20% {
    transform: translateY(8px);
  }
  35% {
    transform: translateY(-8px);
  }
  50% {
    transform: translateY(3px);
  }
  65% {
    transform: translateY(-3px);
  }
  80% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}

.wobble-bottom-right:hover {
  animation: wobbleBR 1s ease-in-out;
}

@keyframes wobbleBR {
  20% {
    transform: translate(8px, 8px);
  }
  35% {
    transform: translate(-8px, -8px);
  }
  50% {
    transform: translate(3px, 3px);
  }
  65% {
    transform: translate(-3px, -3px);
  }
  80% {
    transform: translate(1px, 1px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.wobble-top-right:hover {
  animation: wobbleTR 1s ease-in-out;
}

@keyframes wobbleTR {
  20% {
    transform: translate(8px, -8px);
  }
  35% {
    transform: translate(-8px, 8px);
  }
  50% {
    transform: translate(3px, -3px);
  }
  65% {
    transform: translate(-3px, 3px);
  }
  80% {
    transform: translate(1px, -1px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.wobble-top {
  transform-origin: 0 100%;
}

.wobble-top:hover {
  animation: wobbleTop 1s ease-in-out;
}

@keyframes wobbleTop {
  20% {
    transform: skewX(-12deg);
  }
  35% {
    transform: skewX(12deg);
  }
  50% {
    transform: skewX(-7deg);
  }
  65% {
    transform: skewX(7deg);
  }
  80% {
    transform: skewX(-4deg);
  }
  100% {
    transform: skewX(0);
  }
}

.wobble-bottom {
  transform-origin: 50% 0;
}

.wobble-bottom:hover {
  animation: wobbleBottom 1s ease-in-out;
}

@keyframes wobbleBottom {
  20% {
    transform: skewX(-12deg);
  }
  35% {
    transform: skewX(12deg);
  }
  50% {
    transform: skewX(-7deg);
  }
  65% {
    transform: skewX(7deg);
  }
  80% {
    transform: skewX(-4deg);
  }
  100% {
    transform: skewX(0);
  }
}

.wobble-skew:hover {
  animation: wobbleSkew 1s ease-in-out;
}

@keyframes wobbleSkew {
  20% {
    transform: skewX(-12deg);
  }
  35% {
    transform: skewX(12deg);
  }
  50% {
    transform: skewX(-7deg);
  }
  65% {
    transform: skewX(7deg);
  }
  80% {
    transform: skewX(-4deg);
  }
  100% {
    transform: skewX(0);
  }
}

.buzz:hover {
  animation: buzz 0.2s linear infinite;
}

@keyframes buzz {
  50% {
    transform: translateX(4px) rotate(2deg);
  }
  100% {
    transform: translateX(-4px) rotate(-2deg);
  }
}

.buzz-out:hover {
  animation: buzzOut 0.6s ease-in-out;
}

@keyframes buzzOut {
  20% {
    transform: translateX(4px) rotate(2deg);
  }
  30% {
    transform: translateX(-4px) rotate(-2deg);
  }
  40% {
    transform: translateX(4px) rotate(2deg);
  }
  50% {
    transform: translateX(-4px) rotate(-2deg);
  }
  60% {
    transform: translateX(4px) rotate(2deg);
  }
  70% {
    transform: translateX(-4px) rotate(-2deg);
  }
  80% {
    transform: translateX(4px) rotate(2deg);
  }
  90% {
    transform: skewX(0);
  }
}

.forward:hover {
  transform: translateX(8px);
}

.backward:hover {
  transform: translateX(-8px);
}

.fade:hover {
  background-color: #e4393c;
  color: #fff;
}

.back-pulse:hover {
  background-color: #e4393c;
  color: #fff;
  animation: backPulse 1s ease-in-out infinite;
}

@keyframes backPulse {
  10% {
    opacity: 0.9;
  }
  30% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.9;
  }
  70% {
    opacity: 1;
  }
}

.sweep-right::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-color: #e4393c;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: inherit;
}

.sweep-right:hover {
  color: #fff;
}

.sweep-right:hover::before {
  transform: scaleX(1);
}

.sweep-left::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-color: #e4393c;
  transform: scaleX(0);
  transform-origin: 100% 0;
  transition: inherit;
}

.sweep-left:hover {
  color: #fff;
}

.sweep-left:hover::before {
  transform: scaleX(1);
}

.sweep-top::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-color: #e4393c;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: inherit;
}

.sweep-top:hover {
  color: #fff;
}

.sweep-top:hover::before {
  transform: scaleY(1);
}

.sweep-bottom::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-color: #e4393c;
  transform: scaleY(0);
  transform-origin: 0 100%;
  transition: inherit;
}

.sweep-bottom:hover {
  color: #fff;
}

.sweep-bottom:hover::before {
  transform: scaleY(1);
}

.bounce-right::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #e4393c;
  transform: scaleX(0);
  transform-origin: 0 0;
  z-index: -1;
}

.bounce-right:hover {
  color: #fff;
}

.bounce-right:hover::before {
  animation: bounceRight 0.6s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes bounceRight {
  30% {
    transform: scaleX(1);
  }
  75% {
    transform: scaleX(0.85);
  }
  100% {
    transform: scaleX(1);
  }
}

.bounce-left::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #e4393c;
  transform: scaleX(0);
  transform-origin: 100% 0;
  z-index: -1;
}

.bounce-left:hover {
  color: #fff;
}

.bounce-left:hover::before {
  animation: bounceLeft 0.6s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes bounceLeft {
  30% {
    transform: scaleX(1);
  }
  75% {
    transform: scaleX(0.85);
  }
  100% {
    transform: scaleX(1);
  }
}

.bounce-bottom::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #e4393c;
  transform: scaleY(0);
  transform-origin: 0 0;
  z-index: -1;
}

.bounce-bottom:hover {
  color: #fff;
}

.bounce-bottom:hover::before {
  animation: bounceBottom 0.6s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes bounceBottom {
  30% {
    transform: scaleY(1);
  }
  75% {
    transform: scaleY(0.85);
  }
  100% {
    transform: scaleY(1);
  }
}

.bounce-bottom::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #e4393c;
  transform: scaleY(0);
  transform-origin: 0 0;
  z-index: -1;
}

.bounce-bottom:hover {
  color: #fff;
}

.bounce-bottom:hover::before {
  animation: bounceBottom 0.6s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes bounceBottom {
  30% {
    transform: scaleY(1);
  }
  75% {
    transform: scaleY(0.85);
  }
  100% {
    transform: scaleY(1);
  }
}

.bounce-top::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #e4393c;
  transform: scaleY(0);
  transform-origin: 0 100%;
  z-index: -1;
}

.bounce-top:hover {
  color: #fff;
}

.bounce-top:hover::before {
  animation: bounceTop 0.6s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes bounceTop {
  30% {
    transform: scaleY(1);
  }
  75% {
    transform: scaleY(0.85);
  }
  100% {
    transform: scaleY(1);
  }
}

.radial-out::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 50%;
  background-color: #e4393c;
  transform: scale(0);
  transition: inherit;
}

.radial-out:hover {
  color: #fff;
}

.radial-out:hover::before {
  transform: scale(2);
}

.radial-in::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-color: #ddd;
  border-radius: 50%;
  transform: scale(2);
  transition: inherit;
}

.radial-in:hover {
  color: #fff;
  background-color: #e4393c;
}

.radial-in:hover::before {
  transform: scale(0);
}

.rectangle-out::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-color: #e4393c;
  transform: scale(0);
  transition: inherit;
}

.rectangle-out:hover {
  color: #fff;
}

.rectangle-out:hover::before {
  transform: scale(2);
}

.rectangle-in::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-color: #ddd;
  transform: scale(2);
  transition: inherit;
}

.rectangle-in:hover {
  color: #fff;
  background-color: #e4393c;
}

.rectangle-in:hover::before {
  transform: scale(0);
}

.shutter-out-hor::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #e4393c;
  transform: scaleX(0);
  transition: inherit;
  z-index: -1;
}

.shutter-out-hor:hover {
  color: white;
}

.shutter-out-hor:hover::before {
  transform: scaleX(1);
}

.shutter-in-hor::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #ddd;
  transform: scaleX(1);
  transition: inherit;
  z-index: -1;
}

.shutter-in-hor:hover {
  color: white;
  background-color: #e4393c;
}

.shutter-in-hor:hover::before {
  transform: scaleX(0);
}

.shutter-out-ver::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #e4393c;
  transform: scaleY(0);
  transition: inherit;
  z-index: -1;
}

.shutter-out-ver:hover {
  color: white;
}

.shutter-out-ver:hover::before {
  transform: scaleY(1);
}

.shutter-in-ver::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #ddd;
  transform: scaleX(1);
  transition: inherit;
  z-index: -1;
}

.shutter-in-ver:hover {
  color: white;
  background-color: #e4393c;
}

.shutter-in-ver:hover::before {
  transform: scaleY(0);
}

.border-fade {
  box-shadow: 0 0 0 4px #ddd inset;
}

.border-fade:hover {
  box-shadow: 0 0 0 4px #e4393c inset;
}

.hollow:hover {
  box-shadow: 0 0 0 4px #ddd inset;
  background: none;
}

.trim::before {
  content: "";
  position: absolute;
  left: 4px;
  right: 4px;
  top: 4px;
  bottom: 4px;
  border: 4px solid white;
  opacity: 0;
  transition: inherit;
  z-index: -1;
}

.trim:hover::before {
  opacity: 1;
}
.outline-out {
  overflow: visible;
}

.outline-out::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 4px solid #ddd;
  transition: inherit;
  z-index: -1;
}

.outline-out:hover::before {
  left: -8px;
  right: -8px;
  top: -8px;
  bottom: -8px;
}

.outline-in::before {
  content: "";
  position: absolute;
  left: -12px;
  right: -12px;
  top: -12px;
  bottom: -12px;
  border: 4px solid #ddd;
  transition: inherit;
  z-index: -1;
}

.outline-in:hover {
  overflow: visible;
}

.outline-in:hover::before {
  left: -8px;
  right: -8px;
  top: -8px;
  bottom: -8px;
}

.round-corners:hover {
  border-radius: 20px;
}

.underline-left::before {
  content: "";
  position: absolute;
  left: 0;
  right: 100%;
  bottom: 0;
  height: 4px;
  background-color: #e4393c;
  transition: inherit;
  z-index: -1;
}

.underline-left:hover::before {
  right: 0;
}

.underline-center::before {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0;
  height: 4px;
  background-color: #e4393c;
  transition: inherit;
  z-index: -1;
}

.underline-center:hover::before {
  left: 0;
  right: 0;
}

.underline-right::before {
  content: "";
  position: absolute;
  left: 100%;
  right: 0;
  bottom: 0;
  height: 4px;
  background-color: #e4393c;
  transition: inherit;
  z-index: -1;
}

.underline-right:hover::before {
  left: 0;
}

.reveal::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: inherit;
  z-index: -1;
}

.reveal:hover::before {
  border: 4px solid #e4393c;
}

.underline-reveal::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: inherit;
  z-index: -1;
}

.underline-reveal:hover::before {
  border-bottom: 4px solid #e4393c;
}

.overline-reveal::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: inherit;
  z-index: -1;
}

.overline-reveal:hover::before {
  border-top: 4px solid #e4393c;
}

.overline-left::before{
    content: '';
    position: absolute;
    left: 0;
    right: 100%;
    top: 0;
    bottom: 0;
    height: 4px;
    background-color: #e4393c;
    transition: inherit;
    z-index: -1;
}

.overline-left:hover::before{
    right: 0;
}

.overline-center::before{
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    top: 0;
    bottom: 0;
    height: 4px;
    background-color: #e4393c;
    transition: inherit;
    z-index: -1;
}

.overline-center:hover::before{
    left: 0;
    right: 0;
}

.overline-right::before{
    content: '';
    position: absolute;
    left: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    height: 4px;
    background-color: #e4393c;
    transition: inherit;
    z-index: -1;
}

.overline-right:hover::before{
    left: 0;
}

.shadow:hover{
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, .6);
}

.grow-shadow:hover{
  transform: scale(1.1);
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, .6);
}

.float-shadow{
  overflow: visible;
}

.float-shadow::before{
  content: '';
  position: absolute;
  left: 5%;
  top: 100%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background-image: radial-gradient(rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, 0) 80%);
  transition: inherit;
  z-index: -1;
}

.float-shadow:hover{
  transform: translateY(-5px);
}

.float-shadow:hover::before{
  opacity: 1;
  transform: translateY(5px);
}

.glow:hover{
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .6);
}

.shadow-radial{
  overflow: visible;
}

.shadow-radial::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
  height: 5px;
  background-image: radial-gradient(at 50% 100%,rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, 0) 80%);
  opacity: 0;
  transition: inherit;
  z-index: -1;
}

.shadow-radial::after{
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 5px;
  background-image: radial-gradient(at 50% 0%,rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, 0) 80%);
  opacity: 0;
  transition: inherit;
  z-index: -1;
}

.shadow-radial:hover::before, .shadow-radial:hover::after{
  opacity: 1;
}

.shadow-outset:hover{
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .6);
}

.shadow-inset:hover{
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .6) inset;
}